<template>
  <b-card class="signup-wrapper">
    <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="true"
    />
    <div class="input-wrapper">
      <h1>Sign up</h1>
      <b-form-input
        v-model="email"
        type="email"
        placeholder="Username"
        :class="{ 'error-input': $v.email.$error }"
      />
      <div class="error" v-if="!$v.email.required && $v.email.$error">
        This field is required !
      </div>
      <div class="error" v-if="!$v.email.email">
        This field is wrong !
      </div>
      <b-form-input
        v-model="password"
        type="password"
        placeholder="Password"
        :class="{ 'error-input': $v.password.$error || password != rePassword}"
      />
      <div class="error" v-if="!$v.password.required && $v.password.$error">
        This field is required !
      </div>
      <div class="error" v-if="!$v.password.minLength">
        Password is minimum 6 character !
      </div>
      <b-form-input
        v-model="rePassword"
        type="password"
        placeholder="Confirm Password"
        :class="{ 'error-input': $v.rePassword.$error || password != rePassword}"
      />
      <div class="error" v-if="!$v.rePassword.required && $v.rePassword.$error">
        This field is required !
      </div>
      <div class="error" v-if="!$v.rePassword.minLength">
        Password is minimum 6 character !
      </div>
      <div class="error" v-if="password != rePassword ">
        Password is not match !
      </div>
    </div>
    <div class="btn-wrapper">
      <b-button variant="primary" @click="signup()">Sign up</b-button>
      <b-button variant="outline-primary" @click.prevent="$router.push('/')"
        >Back</b-button
      >
    </div>
  </b-card>
</template>

<script>
import { required, email , minLength} from "vuelidate/lib/validators";
import { firebaseDB, firebaseAuth } from "~/plugins/firebase";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";

export default {
  components: {
    Loading
  },
  data() {
    return {
      email: null,
      password: null,
      rePassword: null,
      isLoading: false,
      uid: null
    };
  },
  methods: {
    signup() {
      this.$v.$touch();
      if (this.$v.$invalid || this.password != this.rePassword ) {
        return false;
      }
      this.isLoading = true;
      firebaseAuth.createUserWithEmailAndPassword(
        this.email, this.password
      ).then(user => {
          console.info(user.user.uid)
          firebaseDB
            .collection("allUser")
            .doc(user.user.uid)
            .set({
              email: this.email
            });
          this.isLoading = false;
          alert("Sign up sucess !");
          this.$router.push("/");
      })
    }
  },
  validations: {
    email: { required, email },
    password: { required , minLength: minLength(6) },
    rePassword: { required , minLength: minLength(6) }
  }
};
</script>

<style lang="scss" scoped>
.signup-wrapper {
  background-color: white;
  width: 80%;
  height: 50%;
  padding: 0 15%;
  border-radius: 30px;
  * {
    margin: 10px 0;
  }
  .btn-wrapper {
    * {
      margin: 0 10px;
    }
  }
}
</style>
