<template>
  <div class="input-wrapper">
    <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="true"
    />
    <b-row>
      <label>Email</label>
      <b-form-input
        v-model="email"
        type="email"
        placeholder="email"
        :disabled="mode"
        :style="`${mode?'cursor: not-allowed':''}`"
        :class="{ 'error-input': $v.email.$error }"
      />
      <div class="error" v-if="!$v.email.required && $v.email.$error">
        This field is required !
      </div>
      <div class="error" v-if="!$v.email.email">
        This field is wrong !
      </div>
    </b-row>

    <b-row>
      <label>First Name</label>
      <b-form-input
        v-model="firstname"
        type="text"
        placeholder="firstname"
        :class="{ 'error-input': $v.firstname.$error }"
      />
      <div class="error" v-if="!$v.firstname.required && $v.firstname.$error">
        This field is required !
      </div>
    </b-row>
    <b-row>
      <label>Last Name</label>
      <b-form-input
        v-model="lastname"
        type="text"
        placeholder="lastname"
        :class="{ 'error-input': $v.lastname.$error }"
      />
      <div class="error" v-if="!$v.lastname.required && $v.lastname.$error">
        This field is required !
      </div>
    </b-row>
    <b-row>
      <label>Age</label>
      <b-form-input
        v-model="age"
        type="number"
        placeholder="age"
        :class="{ 'error-input': $v.age.$error }"
      />
      <div class="error" v-if="!$v.age.required && $v.age.$error">
        This field is required !
      </div>
      <div class="error" v-if="!$v.age.numeric">
        This field is number only !
      </div>
    </b-row>
    <b-row>
      <label>Phone</label>
      <b-form-input
        v-model="phone"
        type="number"
        placeholder="phone"
        :class="{ 'error-input': $v.phone.$error }"
      />
      <div class="error" v-if="!$v.phone.required && $v.phone.$error">
        This field is required !
      </div>
      <div class="error" v-if="!$v.phone.numeric">
        This field is number only !
      </div>
      <div class="error" v-if="!$v.phone.minLength">
        This field is minimum 10 character !
      </div>
      <div class="error" v-if="!$v.phone.maxLength">
        This field is maximum 10 character !
      </div>
    </b-row>
    <b-row>
      <label>Address</label>
      <b-form-input
        v-model="address"
        type="text"
        placeholder="address"
        :class="{ 'error-input': $v.address.$error }"
      />
      <div class="error" v-if="!$v.address.required && $v.address.$error">
        This field is required !
      </div>
    </b-row>

    <div class="btn-wrapper">
      <b-button variant="success" v-if="!mode" @click.prevent="addUser()">Add user</b-button>
      <b-button variant="success" v-if="mode" @click.prevent="editUser()">Edit user</b-button>
      <b-button
        variant="outline-primary"
        @click.prevent="$router.push('/listUser')"
        >Back</b-button
      >
    </div>
  </div>
</template>

<script>
import { required, email, minLength, numeric , maxLength} from "vuelidate/lib/validators"
import Loading from "vue-loading-overlay"
import "vue-loading-overlay/dist/vue-loading.css"
import { firebaseDB, firebaseAuth } from "~/plugins/firebase"
export default {
  components: {
    Loading
  },
  props: {
    mode: false
  },
  data() {
    return {
      email: null,
      password: null,
      rePassword: null,
      isLoading: false,
      uid: null,
      firstname: null,
      lastname: null,
      age: null,
      phone: null,
      address: null
    }
  },
  validations: {
    email: { required, email },
    firstname: { required },
    lastname: { required },
    age: { required, numeric },
    phone: { required, numeric ,minLength: minLength(10) ,maxLength: maxLength(10) },
    address: { required }
  },
  mounted() {
    if (this.mode) {
      this.getUserData()
    }
  },
  methods: {
    async addUser() {
      this.$v.$touch()
      if (this.$v.$invalid) {
        return false
      }
      this.isLoading = true
      await firebaseDB
        .collection("allUser")
        .add({
          email: this.email,
          firstname: this.firstname,
          lastname: this.lastname,
          age: this.age,
          phone: this.phone,
          address: this.address
        })
        .then(res => {
          this.isLoading = false
          alert("Add user sucess !")
          this.$router.push("/listUser")
        })
    },
    async editUser() {
      const userID = this.$route.params.userID
      this.$v.$touch()
      if (this.$v.$invalid) {
        return false
      }
      this.isLoading = true
      await firebaseDB.collection("allUser").doc(userID).update({ 
          firstname: this.firstname,
          lastname: this.lastname,
          age: this.age,
          phone: this.phone,
          address: this.address
      }).then(res => {
          this.isLoading = false
          alert("Edit user sucess !")
          this.$router.push("/listUser")
        })
    },
    async getUserData() {
      const userID = this.$route.params.userID
      this.isLoading = true
      await firebaseDB
        .collection("allUser")
        .doc(userID)
        .get()
        .then(docs => {
          this.email = docs.data().email ? docs.data().email : null
          this.firstname = docs.data().firstname ? docs.data().firstname : null
          this.lastname = docs.data().lastname ? docs.data().lastname : null
          this.age = docs.data().age ? docs.data().age : null
          this.phone = docs.data().phone ? docs.data().phone : null
          this.address = docs.data().address ? docs.data().address : null
          console.log(docs.data())
          this.isLoading = false
        })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/responsive.scss';
.input-wrapper {
  background-color: white;
  width: 100%;
  padding: 0 15%;
  border-radius: 30px;
  @include respond-to($phone){
    padding: 0 20px;
  }
  label {
    margin: 0;
  }
  input {
    margin: 10px 0;
  }
  .btn-wrapper {
    * {
      margin: 0 10px;
    }
  }
}
</style>
