<template>
    <b-card class="user-wrapper">
    <h1>View / Edit User {{ userID }}</h1>
  <InputForm :mode="true"
  />
    </b-card>
</template>

<script>
import { required, email , minLength} from "vuelidate/lib/validators";
import InputForm from '~/components/InputForm'
export default {
    // props: {
    //     userID: null
    // },
  components: {
    InputForm
  },
  data(){
    return {
        userID: null
    }
  },
  mounted() {
  },
  methods:{
  }
}
</script>

<style lang="scss" scoped>
@import '@/styles/responsive.scss';
.user-wrapper {
  background-color: white;
  width: 100%;
  padding: 0 15%;
  border-radius: 30px;
   @include respond-to($phone){
    padding: 0 20px;
  }
}
</style>