<template>
  <b-card class="list-user-wrapper">
    <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="true"
    />
    <div class="btn-wrapper"> 
        <b-button @click="logout()" >
            Log out
        </b-button>
    </div>
    <h1>List User</h1>
    <div class="flex-table">
	<div class="flex-thead">
		<div class="flex-tr">
			<div class="flex-th">
        <p>No.</p>
			</div>
      <div class="flex-th">
        <p>Email</p>
			</div>
      <div class="flex-th">
			</div>
		</div>
	</div>
	<div class="flex-tbody">
		<div class="flex-tr" v-for="(user, index) in listUser" :key="`row-${index}`">
			<div class="flex-td">
        <p>{{index+1}}</p>
			</div>
      <div class="flex-td">
        <p>{{user.email}}</p>
			</div>
      <div class="flex-td btn-group">
       <b-button variant="success" @click="$router.push(`/user/${user.id}`)">
          View / Edit
        </b-button>
         <b-button variant="danger" @click="deleteUser(user.id)">
          Delete
        </b-button>
			</div>
		</div>
	</div>
</div>
    <b-button variant="primary" @click="$router.push('/user')" >
            Add user
        </b-button>
  </b-card>
</template>

<script>
import { firebaseDB,firebaseAuth } from "~/plugins/firebase";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  components: {
    Loading
  },
  data() {
    return {
      fields: ["index", "email", "id"],
      listUser: [],
      isLoading: false,
      maxWidth: Math.max(
                document.documentElement.clientWidth,
                window.innerWidth || 0
            )
    };
  },
  mounted() {
    this.getListUser();
  },
  methods: {
    async getListUser() {
      this.isLoading = true
      const data = await firebaseDB.collection("allUser").get()
      console.log(data)
      //  console.log(snapshot.docs[0].id)
      data.forEach(doc => {
        this.listUser.push({
          id: doc.id,
          ...doc.data()
        })
      })
      this.isLoading = false
      console.log(this.listUser)
    },
    async deleteUser(id) {
        this.isLoading = true
      const data = await firebaseDB
        .collection("allUser")
        .doc(id)
        .delete()
     this.listUser = [] 
    this.isLoading = false
    this.getListUser()
      console.log(this.listUser)
    },
    async logout(){
    await firebaseAuth.signOut().then(res => {
        this.$router.push('/')
    })
    }
  }
};
</script>

<style lang="scss" scoped>
@import '@/styles/responsive.scss';
@import '@/styles/mixins.scss';
.list-user-wrapper {
  background-color: white;
  width: 80%;
  height: 50%;
  padding: 0 5%;
  border-radius: 30px;
  @include respond-to($phone){
    margin: 40px 0;
    width: 100%;
  }
  .flex-table {
    margin: 10px 0;
    .flex-thead,
    .flex-tbody {
      .flex-tr {
        .flex-td,
        .flex-th {
          &:first-child {
            flex: 0.2;
          }
        }
      }
    }
    .flex-tbody {
      .flex-tr {
        .flex-td {
          @include respond-to($phone){
            flex: unset;
            &:first-child {
              display: none;
            }
            &:not(:first-child) {
              width: 100%;
            }
          }
        }
      }
    }
  }
  .card-body{
    @include respond-to($phone){
      padding: 0;
    }
  }
  h1 {
    margin: 20px 0;
  }
  .btn-wrapper{
      width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  tr {
    margin: 10px 0;
  }
}
</style>
