<template>
  <div class="container">
    <b-card class="login-wrapper">
      <loading
      :active.sync="isLoading"
      :can-cancel="false"
      :is-full-page="true"
    />
      <div class="input-wrapper">
        <h1>Log in</h1>
        <b-form-input v-model="email" type="email" placeholder="Username"/>
        <div class="error" v-if="!$v.email.required && $v.email.$error">
          This field is required !
        </div>
        <b-form-input
          v-model="password"
          type="password"
          placeholder="Password"
        />
        <div class="error" v-if="!$v.password.minLength && $v.password.$error">
          Password is minimum 6 character !
        </div>
        <div class="error" v-if="!$v.password.required && $v.password.$error">
          This field is required !
        </div>
      </div>
      <div class="btn-wrapper">
        <b-button variant="success" @click.prevent="login()">Log in</b-button>
        <b-button variant="primary" @click.prevent="$router.push('/signup')"
          >Sign up</b-button
        >
      </div>
    </b-card>
  </div>
</template>

<script>
import { required, email , minLength} from "vuelidate/lib/validators";
import { firebaseDB, firebaseAuth } from "~/plugins/firebase";
import Loading from "vue-loading-overlay";
import "vue-loading-overlay/dist/vue-loading.css";
export default {
  components: {
    Loading
  },
  data() {
    return {
      email: null,
      password: null,
      isLoading: false
    };
  },
  methods: {
    login() {
      this.$v.$touch();
      if (this.$v.$invalid) {
        return false;
      }
      this.isLoading = true;
      firebaseAuth.signInWithEmailAndPassword(
         this.email, this.password
      ).then(user =>{
        this.isLoading = false;
        alert("Log in sucess !");
        this.$router.push("/listUser");
      })
    }
  },
  validations: {
    email: { required, email},
    password: { required , minLength: minLength(6)}
  }
};
</script>

<style lang="scss" scoped>
@import '@/styles/responsive.scss';
.login-wrapper {
  background-color: white;
  width: 80%;
  height: 50%;
  padding: 0 15%;
  border-radius: 30px;
  @include respond-to($phone){
    width: 100%;
    padding: 0 5%;
  }
  * {
    margin: 10px 0;
  }
  .btn-wrapper {
    * {
      margin: 0 10px;
    }
  }
}
</style>
