@import 'mixins';

html, body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto;
    background-color: aquamarine;
    @include body-text($fontsize);
}
*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    @include title-text(2.25em);
}

h2 {
    @include title-text(2em);
}

h3 {
    @include title-text(2em);
}

h4 {
    @include subtitle-text(1.5em);
}

h5 {
    @include subtitle-text(1.125em);
}

h6 {
    @include subtitle-text(0.875em);
}

a {
    @include link-text(0.875em);
}

input {
    @include input;
}
input[type="checkbox"] {
    @include checkbox;
}
input[type="radio"] {
    @include radio;
}
input[type="submit"] {
    @include button;
}
button {
    @include button;
}
.error-input {
    border-color: red;
}
.error {
    color: red;
}
.flex-table {
    @include flex-table;
}